.container {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 2;
  }

  .jpg-container {
    position: absolute;
    left: 0px;
    width: 30%;
    margin-top: 150px;
    margin-left: 220px;
    background-color: transparent;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    z-index: 3;
  }

  .wechat-container {
    width: 36px; /* Width of the image */
    height: 36px; /* Height of the image */
    margin-left: 0px;  /* Center the image horizontally and add margin bottom */
    overflow: hidden;
    border-radius: 5px; /* Make it circular */
    display: inline-flex; /* 让容器和文本在一行显示 */
  }
  
  .wechat-container .wechat-jpg {
    width: 100%;
    height: 100%;
    background: url(../image/wechat.jpg) no-repeat;
    background-size: cover;
  }
  
  .wechat{
    text-align: left;
    display: inline-flex;
}

  .whatsapp-container {
    width: 36px; /* Width of the image */
    height: 36px; /* Height of the image */
    margin-left: 0px; /* Center the image horizontally and add margin bottom */
    overflow: hidden;
    border-radius: 8px; /* Make it circular */
    background-size: cover;
    display: inline-flex;
  }
  
  .whatsapp-container .whatsapp-jpg {
    width: 100%;
    height: 100%;
    background: url(../image/whatsapp.jpg) no-repeat;
    background-size: cover;
  }

  .whatsapp{
    text-align: left;
    display: inline-block;
}

.jpg-container .person-jpg {
    width: 300px;
    height: 300px;
    background: url(../image/person.jpg) no-repeat;
    background-size: cover;
  }
  /* Example styling for .main-container */
  .main-container {
    position: absolute;
    right: 0px;
    width: 50%;
    margin-top: 80px;
    margin-right: 140px;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    z-index: 3;
  }
  
  /* Example styling for headings and paragraphs */
  .title {
    /* 我的团队优势 */
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 150%;
/* identical to box height, or 72px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;
color: #486284;
  }

.subtitle{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */
display: flex;
align-items: center;
letter-spacing: -0.02em;
color: #7888A0;
}
  
.content {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 156%;
    /* or 25px */
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-align: left;
    
    color: #000000;
  }

.contact{
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */
display: flex;
align-items: center;
text-align: left;
letter-spacing: -0.02em;
color: #486284;
}  

.th{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 156%;
    /* or 25px */
display: flex;
align-items: center;
letter-spacing: -0.02em;
text-align: left;
color: #000000;
}
